* , body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 14px;
	line-height: 14px;
	padding: 0;
}

body {
	background: #eeefff;
	/*url('images/checkered-light-emboss.png') #d6d5d3;*/
}

a {
	color: #00abc9;
}

header{
	background: url('images/shley-tree-1.png') #0d1621;
	padding: 10px 20px;
	width: 100%;
}

header , header a {
	color: #d6d5d3;
	font-weight: bold;
}

main {
	padding-left: 10px;
	width: 60%;
	margin: auto;
}

#login-buttons a , .accounts-dialog a {
	text-decoration: none;
}

.hidden {
	display: none;
}
h1.brand {
	position: fixed;
	right: 20px;
	bottom: 0;
	font-size: 1em;
	color: #0d1621;
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(+45deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

nav a {
	margin-right: 1em;
}

#home {
	font-size: 1.5em;
}

ul {
	list-style: none;
	margin: 0;
}

input[type="text"] {
	border-radius: 0;	
}

input[type="text"]:focus {
	box-shadow: none;
}

.artists, .album, .year {
	font-size: 0.75em;
	color: #666666;
}
.album {
	font-style: italic;
}
.track {
	margin-bottom: 10px;	
}

.tags {
	font-size: 0.75em;
}
.page-title h1 {
	font-size: 1.5em;
	margin-bottom: -10px;
	color: #00abc9;;
}

/**		icons			**/

.fa-spotify {
	color: #C6E03C;
}

.fa-circle-thin {
	color: #ffffff;
}

.fa-tag {
	color: #cccccc;
}
.fa-tag:hover {
	color: #DEBC85;
	cursor: pointer;
}
