<template name="track">
	<div class="track" id="{{isrc}}">
		<span class="title" >{{#with title}}{{name}}{{/with}}</span> 
		<i class="fa fa-tag" title="add a tag"></i><br />
		<span class="artists">{{#each artists}}{{name}}{{/each}}</span> 
		<span class="year">- {{year}}</span>
		<span class="album hidden"> - {{#with album}}{{title}}{{/with}}</span>
		<br />
		{{#if tags}}
		<span class="tags">Tags: {{#each tags}} <span class="tag">{{this}} <i class="fa fa-remove" id="{{_id}}"></i></span> {{/each}}</span>
		{{/if}}
		<form class="addTag hidden">
			<input type="text" placeholder="add a tag" />
		</form>
	</div>
</template>
